<mat-card class="searchfriendview">
            <mat-card-title>
                    <h3>Search possible friends</h3>
            </mat-card-title>

    <mat-card-content>
            <mat-form-field>
                <input matInput #firstname type="text" placeholder="Firstname" [(ngModel)]="firstnamevalue">
                <button mat-button *ngIf="firstnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="firstnamevalue=''">
                        <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput #lastname type="text" placeholder="Lastname" [(ngModel)]="lastnamevalue">
                <button mat-button *ngIf="lastnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="lastnamevalue=''">
                        <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <div *ngIf="error">{{error}}</div>
            <br>
            <button mat-raised-button color="primary"
                (click)="searchUsers(false, firstname.value, lastname.value)">
                Search
            </button>
            <button mat-raised-button color="primary" id="showall"
            (click)="searchUsers(true)">
            Show all
            </button>
        </mat-card-content>
</mat-card>

<mat-card class="addfriendview">
    <mat-card-title>
        <h3>Send requests</h3>
    </mat-card-title>

    <mat-card-content>
        <div *ngIf="!possibleFriends">
                <h5 class="text-center">Search users and send friend requests!</h5>
        </div>

        <div *ngIf="possibleFriends?.length==0">
                <h5 class="text-center">No results!</h5>
        </div>

        <div *ngIf="possibleFriends?.length > 0">
            <div class="container">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:10%" class="text-center">Id</th>
                            <th style="width:30%" class="text-center">Firstname</th>
                            <th style="width:30%" class="text-center">Lastname</th>
                            <th style="width:30%" class="text-center">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of possibleFriends">
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>
                            <button class="btn btn-info innerbtn"
                                        (click)="sendFriendRequest(user)">
                                            Send request
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>

    </mat-card-content>
</mat-card>


