<div *ngIf="authService.getisLoggedIn()" class="example-container mat-elevation-z8">
    <cdk-table #table [dataSource]="dataSource" class="example-table">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
      <ng-container cdkColumnDef="userId">
        <cdk-header-cell *cdkHeaderCellDef class="id-header-cell"> ID </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="id-cell"> {{row.id}} </cdk-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="name">
        <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Name </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.name}} </cdk-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="price">
        <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Price(HUF) </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.price}} Ft </cdk-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="link">
        <cdk-header-cell *cdkHeaderCellDef class="example-header-cell">HyperLink</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.link}} </cdk-cell>
      </ng-container>

      <ng-container cdkColumnDef="comments">
          <cdk-header-cell *cdkHeaderCellDef class="example-header-cell">Comments</cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="example-cell"> 
            <button mat-mini-fab color="primary" class="commentButton">
                <mat-icon>comment</mat-icon>
              </button>
          </cdk-cell>
        </ng-container>
  
      <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></cdk-header-row>
      <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="example-row"></cdk-row>
    </cdk-table>
  </div>
  