<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../styles.css" />
    </head>
    <body>
        <h1>Profile</h1>
        <form action="@{/user/friends}" th:action="@{/user/friends}" th:object="${user}" method="get">
            <div >
                <p>Ön be van jelentkezve mint: <span th:text="${user.username}">Username</span></p>
            </div>
            <div align="left">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile(username=${user.username})}" 
           >Profile</a></td></tr>
                <tr><td><a href="wishlist.html" 
           th:href="@{/user/wishlist(username=${user.username},friendname='null')}" 
           >My Wishlist</a></td></tr>
                <tr><td><a href="friends.html"
                   th:href="@{/user/friends(username=${user.username})}" >
           My Friends</a></td></tr>
                <tr><td><a href="settings.html" 
           th:href="@{/user/settings(username=${user.username})}" 
           >Settings</a></td></tr>
                <tr><td><a href="index.html" 
           th:href="@{/}"
           >Logout</a></td></tr>
                <!--<a href="profile.html" 
           th:href="@{/product/comments(prodId=${prod.id})}" 
           >view</a>-->
                </table>
            </div>
            <form action="@{/user/friends}" th:action="@{/user/friends}" th:object="${friends}" method="get">
            <div align="right">
                <ul th:each="friend : ${friends}">
                    <li> <a href="wishlist.html" 
           th:href="@{/user/wishlist(username=${user.username},friendname=${friend.username})}"><span th:text="${friend.username}">Username</span></a>
                        </li>
                </ul>
            </div>
                </form>
        </form>
    </body>
</html>