<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../styles.css" />
    </head>
    <body>
        <h1>Profile</h1>
        <form action="@{/user/profile}" th:action="@{/user/profile}" th:object="${user}" method="get">
            <div >
                <p>Ön be van jelentkezve mint: <span th:text="${user.username}">Username</span></p>
            </div>
            <div align="left">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile(username=${user.username})}" 
           >Profile</a></td></tr>
                <tr><td><a href="wishlist.html" 
           th:href="@{/user/wishlist(username=${user.username},friendname='null')}" 
           >My Wishlist</a></td></tr>
                <tr><td><a href="friends.html"
                   th:href="@{/user/friends(username=${user.username})}" >
           My Friends</a></td></tr>
                <tr><td><a href="settings.html" 
           th:href="@{/user/settings(username=${user.username})}" 
           >Settings</a></td></tr>
                <tr><td><a href="index.html" 
           th:href="@{/}"
           >Logout</a></td></tr>
                <!--<a href="profile.html" 
           th:href="@{/product/comments(prodId=${prod.id})}" 
           >view</a>-->
                </table>
            </div>
            <div align="right">
                <p size="4"><b>
            Ez egy olyan webes applikáció, amely segíti az ajándékozás folyamatát,
            legyen szó születésnapról, karácsonyról vagy bármilyen más egyéb ünnepről.
            A programmal, regisztrálás és belépés után, kívánság listákat készíthetünk, 
            amelyet a barátaink (barátnak felvett felhasználók) láthatnak, illetve módosításokat
            hajthatnak végre rajta, anélkül, hogy azt a lista tulajdonosa láthatná.
        </b></p>
            </div>
        </form>
    </body>
</html>