<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../styles.css" />
    </head>
    <body>
        <h1>Profile</h1>
        <form action="@{/user/profile}" th:action="@{/user/profile}" th:object="${user}" method="get">
            <div >
                <p>Ön be van jelentkezve mint: <span th:text="${user.username}">Username</span></p>
            </div>
            <div align="left">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile(username=${user.username})}" 
           >Profile</a></td></tr>
                <tr><td><a href="wishlist.html" 
           th:href="@{/user/wishlist(username=${user.username})}" 
           >My Wishlist</a></td></tr>
                <tr><td><a href="friends.html"
                   th:href="@{/user/friends(username=${user.username})}" >
           My Friends</a></td></tr>
                <tr><td><a href="settings.html" 
           th:href="@{/user/settings(username=${user.username})}" 
           >Settings</a></td></tr>
                <tr><td><a href="index.html" 
           th:href="@{/}"
           >Logout</a></td></tr>
                <!--<a href="profile.html" 
           th:href="@{/product/comments(prodId=${prod.id})}" 
           >view</a>-->
                </table>
            </div>
            <div align="right">
                <form action="#" th:action="@{user/settings}" th:object="${user}" method="post">
            <div id="username">
                <p>Your current username is: <span th:text="${user.username}">Username</span></p>
                <label for="username">Username:</label>
                <input type="text" name="username" value="${user.username}" th:field="*{username}" />
            </div>
            <div id="password">
                <p>Your current password is: <span th:text="${user.password}">Username</span></p>
                <label for="password">Password:</label>
                <input type="password" name="password" value="${user.password}" th:field="*{password}" />
            </div>
            <div id="firstname">
                <p>Your current firstname is: <span th:text="${user.firstname}">Username</span></p>
                <label for="firstname">FirstName:</label>
                <input type="text" name="firstname" value="${user.firstname}" th:field="*{firstname}" />
            </div>
            <div id="lastname">
                <p>Your current lastname is: <span th:text="${user.lastname}">Username</span></p>
                <label for="lastname">LastName:</label>
                <input type="text" name="lastname" value="${user.lastname}" th:field="*{lastname}" />
            </div>
            <div id="email">
                <p>Your current email is: <span th:text="${user.email}">Username</span></p>
                <label for="email">Email:</label>
                <input type="text" name="email" value="${user.email}" th:field="*{email}" />
            </div>
            <input onclick="window.location.href='/user/profile/*{username}'" type="submit" value="Mentes!" />
            <button type="reset">Cancel</button>
                 </form>
            </div>
        </form>
    </body>
</html>