<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../styles.css" />
    </head>
    <body>
        <h1>Profile</h1>
        <form action="@{/user/wishlist}" th:action="@{/user/wishlist}" th:object="${user}" method="get">
            <form action="@{/user/wishlist}" th:action="@{/user/wishlist}" th:object="${friendname}" method="get">
            <div th:if="${friendname} == 'null'">
                <p>Ön be van jelentkezve mint: <span th:text="${user.username}">Username</span></p>
            </div>
                <div th:if="${friendname} != 'null'">
                    <p>Ön megtekinti a következő kivánságlistáit: <span th:text="${friendname}">Username</span></p>
                </div>
           <div align="left" th:if="${friendname} == 'null'">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile(username=${user.username})}" 
           >Profile</a></td></tr>
                <tr><td><a href="wishlist.html" 
           th:href="@{/user/wishlist(username=${user.username},friendname='null')}" 
           >My Wishlist</a></td></tr>
                <tr><td><a href="friends.html"
                   th:href="@{/user/friends(username=${user.username})}" >
           My Friends</a></td></tr>
                <tr><td><a href="settings.html" 
           th:href="@{/user/settings(username=${user.username})}" 
           >Settings</a></td></tr>
                <tr><td><a href="index.html" 
           th:href="@{/}"
           >Logout</a></td></tr>
                <!--<a href="profile.html" 
           th:href="@{/product/comments(prodId=${prod.id})}" 
           >view</a>-->
                </table>
            </div>
                
                <div  th:if="${friendname} != 'null'" align="left">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile(username=${user.username})}" 
           >MyProfile</a></td></tr>
                
                </table>
            </div>
            <form action="@{/user/wishlist}" th:action="@{/user/wishlist}" th:object="${wishlists}" method="get">
            <div align="right">
                <table align="right">
                    <tr th:each="list : ${wishlists}">
                        <!--<td th:text="${list.title}" th:href="@{/user/presents(username=${user.username},wishlist=$(list.title))}">Onions</td>-->
                        <td><a th:text="${list.title}" href="presents.html" th:href="@{/user/presents(username=${user.username},wishlist=${list.title})}" >Ajandekok</a></td>
                    </tr>
                </table>
            </div>
                
            
                
                </form>
            </form>
            </form>
    </body>
</html>