<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Profile</h1>
        <form action="@{/user/profile}" th:action="@{/user/profile}" th:object="${user}" method="get">
            <div >
                <p>Ön be van jelentkezve mint: <span th:text="${user.username}">Username</span></p>
            </div>
            <div align="left">
                <table align="left">
                <tr><td><a href="profile.html" 
           th:href="@{/user/profile}" 
           >Profile</a></td></tr>
                <tr><td><a href="wishlist.html" 
           th:href="@{/user/wishlist}" 
           >My Wishlist</a></td></tr>
                <tr><td><a href="friends.html"
                   th:href="@{/user/friends}" >
           My Friends</a></td></tr>
                <tr><td><a href="settings.html" 
           th:href="@{/user/settings}" 
           >Settings</a></td></tr>
                <tr><td><a href="index.html" 
           th:href="@{/}"
           >Logout</a></td></tr>
                <!--<a href="profile.html" 
           th:href="@{/product/comments(prodId=${prod.id})}" 
           >view</a>-->
                </table>
            </div>
            <div align="right">
                <table align="right">
                    <tr th:each="pres : ${presents}">
                        <td th:text="${pres.name}">Onions</td>
                        <td th:text="${prod.price}">2.41</td>
                        <td th:text="${prod.link}">yes</td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>