<app-search-by-name-view (searchParams)="searchUsers($event.showall, $event.firstname, $event.lastname)">
</app-search-by-name-view>

<mat-card class="usersview">
<mat-card-title>
<h3>Results</h3>
</mat-card-title>

<mat-card-content>
<div *ngIf="!users">
        <h5 class="text-center">You can manage the users here</h5>
</div>

<div *ngIf="users?.length==0">
        <h5 class="text-center">No results!</h5>
</div>

<div *ngIf="users?.length > 0">
    <div class="container">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:10%" class="text-center">Id</th>
                    <th style="width:30%" class="text-center">Firstname</th>
                    <th style="width:30%" class="text-center">Lastname</th>
                    <th style="width:15%" class="text-center">Lists</th>                    
                    <th style="width:15%" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        <button class="btn btn-info innerbtn"
                                routerLink="/users/{{user.id}}/wishlists"
                                (click)="setBreadcrumbs(user.firstname, user.lastname)">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </td>
                    <td>
                        <button
                            class="btn btn-danger innerbtn"
                            mwlConfirmationPopover
                            title="Confirmation"
                            cancelButtonType="btn btn-danger"
                            confirmButtonType="btn btn-info"
                            message="Delete user: {{user.firstname}} {{user.lastname}}?"
                            placement="left"
                            (confirm)="deleteUser(user)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>

</mat-card-content>
</mat-card>


