<mat-toolbar id="top-menu" color="primary">
  <!--<div class="left-side">
    <h1 class="mat-h1">Ajandekozas</h1>
  </div>-->

  <div *ngIf="authService.isLoggedIn()" class="center">
    <a mat-icon-button color="warn" [routerLink]="mainP.link" routerLinkActive="active">
        <i class="material-icons md-48">card_giftcard</i> <!--{{mainP.title}}-->
      </a>
    <a mat-button *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active">{{menu.title}}</a>
  </div>

  <div *ngIf="authService.isLoggedIn()" class="right-side">
    <p>{{adminUser.username}} <i class="material-icons md-18" matTooltip="Logged in!">verified_user</i></p>
  </div>

    <div *ngIf="!authService.isLoggedIn()" class="center">
      <a mat-icon-button color="warn" [routerLink]="mainP.link" routerLinkActive="active">
          <i class="material-icons md-48">card_giftcard</i> <!--{{mainP.title}}-->
        </a>
       You need to Login to use this site's features
    </div>
  
    <div *ngIf="!authService.isLoggedIn()" class="right-side">
      <p> Not logged in <i class="material-icons md-18" matTooltip="Not Logged in!">not_interested</i></p>

    <!--<div *ngIf="!authService.isLoggedIn" class="unauthorized">
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>/
      <a mat-button routerLink="/register"
         routerLinkActive="active">Register</a>
    </div>

    <div *ngIf="authService.isLoggedIn" class="authorized">
      <button mat-button (click)="authService.logout()">Logout</button>
    </div>-->
  </div>
</mat-toolbar>
