<mat-card class="addform">
    <mat-card-title>
        <h3>Add new present</h3>
    </mat-card-title>

    <mat-card-content>
        <mat-form-field>
            <input matInput #presentName type="text" placeholder="Preset name" [(ngModel)]="presetname" [required]="true">
            <button mat-button *ngIf="presetname" matSuffix mat-icon-button aria-label="Clear" (click)="presetname=''">
                    <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div *ngIf="nameError">{{nameError}}</div>
        <br>
        <mat-form-field>
            <input matInput #presentPrice type="number" placeholder="Price" min="1" [(ngModel)]="price" [required]="true">
            <span matSuffix> Ft</span>
        </mat-form-field> 
        <div *ngIf="priceError">{{priceError}}</div>
        <br>
        <mat-form-field>
            <input matInput #presentLink type="url" placeholder="Url" [(ngModel)]="link">
            <button mat-button *ngIf="link" matSuffix mat-icon-button aria-label="Clear" (click)="link=''">
                    <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br> 
        <button mat-raised-button color="primary"
            (click)="clickButton(presentName.value, presentPrice.value, presentLink.value); presetname='';link=''; price=''">
            Add Present
        </button>
        <button id="reset" mat-raised-button color="primary"
            (click)="presetname='';link=''; price=''; nameError=''; priceError=''">
             Reset
        </button>
    </mat-card-content>

</mat-card>