<app-search-by-name-view (searchParams)="manageSearch($event.showall, $event.firstname, $event.lastname)">
</app-search-by-name-view>


<mat-card class="incomingrequestsview">
<mat-card-title>
<h3>Friend Requests</h3>
</mat-card-title>

<mat-card-content>

    <div *ngIf="firstLook;else searched">
            <h5 class="text-center">You can manage your resquests here</h5>
    </div>

    <ng-template #searched>
        <div *ngIf="filteredRequests?.length==0">
            <h5 class="text-center">No results!</h5>
        </div>
    </ng-template>

    <div *ngIf="filteredRequests?.length > 0">
    <div class="container">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:10%" class="text-center">Id</th>
                    <th style="width:25%" class="text-center">Firstname</th>
                    <th style="width:25%" class="text-center">Lastname</th>
                    <th style="width:20%" class="text-center">&nbsp;</th>
                    <th style="width:20%" class="text-center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr id="sor" *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ request.id }}</td>
                    <td>{{ request.requester.firstname }}</td>
                    <td>{{ request.requester.lastname }}</td>
                    <td>
                        <button class="btn btn-info innerbtn"
                                    (click)="processRequest(request, 1)">
                                        Accept
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger innerbtn"
                                    (click)="processRequest(request, 2)">
                                        Decline
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
    </div>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>

</mat-card-content>
</mat-card>
