
<mat-card class="searchRequestView">
    <mat-card-title>
            <h3>Filter requests</h3>
    </mat-card-title>

    <mat-card-content>
    <mat-form-field>
        <input matInput #firstname type="text" placeholder="Firstname" [(ngModel)]="firstnamevalue">
        <button mat-button *ngIf="firstnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="firstnamevalue=''">
                <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput #lastname type="text" placeholder="Lastname" [(ngModel)]="lastnamevalue">
        <button mat-button *ngIf="lastnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="lastnamevalue=''">
                <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <div *ngIf="error">{{error}}</div>
    <br>
    <button mat-raised-button color="primary" type="reset"
      (click)="filterRequests(firstname.value, lastname.value)">
      Filter
    </button>
    <button mat-raised-button color="primary" id="showall"
        (click)="resetOriginalRequests(); firstnamevalue=''; lastnamevalue=''">
        Show all
    </button>
</mat-card-content>
</mat-card>

<mat-card class="incomingrequestsview">
<mat-card-title>
<h3>Friend Requests</h3>
</mat-card-title>

<mat-card-content>

    <div *ngIf="firstLook;else searched">
            <h5 class="text-center">You can manage your resquests here</h5>
    </div>

    <ng-template #searched>
        <div *ngIf="filteredRequests?.length==0">
            <h5 class="text-center">No results!</h5>
        </div>
    </ng-template>

    <div *ngIf="filteredRequests?.length > 0">
    <div class="container">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:10%" class="text-center">Id</th>
                    <th style="width:25%" class="text-center">Firstname</th>
                    <th style="width:25%" class="text-center">Lastname</th>
                    <th style="width:20%" class="text-center">&nbsp;</th>
                    <th style="width:20%" class="text-center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ request.id }}</td>
                    <td>{{ request.requester.firstname }}</td>
                    <td>{{ request.requester.lastname }}</td>
                    <td>
                        <button class="btn btn-info innerbtn"
                                    (click)="processRequest(request, 1)">
                                        Accept
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger innerbtn"
                                    (click)="processRequest(request, 2)">
                                        Decline
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
    </div>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>

</mat-card-content>
</mat-card>
