<mat-card class="presentsview">
    <mat-card-title>
        <h3>Presents</h3>
    </mat-card-title>

    <div *ngIf="!presents; else loaded">
        <mat-spinner></mat-spinner>
    </div>


    <mat-card-content>

      <ng-template #loaded>
            <div *ngIf="presents.length === 0; else atleastone">
                <h5 class="text-center">No presents yet!</h5>
            </div>
            
            <ng-template #atleastone>
            <div class="container">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/user/friends"><i class="fa fa-arrow-left" aria-hidden="true"></i> Friends</a></li>
                            <li class="breadcrumb-item"><a routerLink="/user/friends/{{breadCrumbService.listId}}/wishlists"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{breadCrumbService.friendName}}</a></li>
                            <li class="breadcrumb-item active">{{breadCrumbService.listTitle}}</li>
                          </ol>

                        <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width:46%" class="text-center">Name</th>
                          <th style="width:15%" class="text-center">Price</th>
                          <th style="width:15%" class="text-center">Link</th>
                          <th style="width:24%" class="text-center">Comments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let present of presents">
                          <td>{{ present.name }}</td>
                          <td>{{ present.price }} Ft</td>
                          <td> 
                            <button [ngClass]="getButtonClass(present)" [disabled]=!present.link (click)="goToUrl(present.link)">Link</button>                   
                          </td>
                          <td>
                            <button class="btn btn-warning innerbtn" routerLink="/user/friends/{{friendId}}/wishlists/{{friendListId}}/presents/{{friendPresentId}}/comments">
                                         <i class="fa fa-edit"></i>
                                </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
              </ng-template>
     </ng-template>

    </mat-card-content>

</mat-card>
