<mat-card class=loginview>
  <mat-card-content>
    <h3>Login</h3>
    <mat-form-field>
      <input id="us" name="username" matInput type="text" placeholder="Username" #usernameinput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input id="pw" name="password" matInput type="password" placeholder="Password" #passwordinput>
    </mat-form-field>
    <br>
    <button id="bejelentkezes" name="bejelentkezes" mat-raised-button color="primary" 
            (click)="tryLogin(usernameinput.value, passwordinput.value)">
      Login
    </button>
    <div *ngIf="error">{{error}}</div>
  </mat-card-content>
</mat-card>