.wishlistview {
    margin: 20px auto;
    width: 750px;
    margin-top: 200px;
  }

 mat-spinner {
   margin: 0 auto;
 }

.container {
  max-width: 100%; 
  display: block;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.innerbtn {
  margin:auto;
  display:block;
}

.breadcrumb {
  background-color: white;
}
