<mat-card class="wishlistview">
  <mat-card-title>
      <h3>Wishlists of {{breadcrumbService.friendName}}</h3>
  </mat-card-title>

  <div *ngIf="!wishlists; else loaded">
          <mat-spinner></mat-spinner>
  </div>

  <mat-card-content> 
      
      <ng-template #loaded>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/user/friends"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Friends</a></li>
              <li class="breadcrumb-item active">{{breadcrumbService.friendName}}</li>
            </ol>

          <div *ngIf="wishlists.length === 0; else atleastone">
              <h5 class="text-center">No lists yet!</h5>
          </div>

          <ng-template #atleastone>
              <div class="container">
                      <div class="col-md-12">
                          <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th style="width:85%" class="text-center">Title</th>
                            <th style="width:15%" class="text-center">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let list of wishlists | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{ list.title }}</td>
                            <td>
                                  <button class="btn btn-info innerbtn"
                                      routerLink="/user/friends/{{userId}}/wishlists/{{list.id}}/presents"
                                      (click)="setBreadcrumbs(list.title)">
                                               <i class="fa fa-chevron-right"></i>
                                  </button>
                          </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                  </div>
                  <pagination-controls (pageChange)="p =$event"></pagination-controls>
                </ng-template>
       </ng-template>
  </mat-card-content>

</mat-card>