<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Index</h1>
        <form method="post">
            <table align="center">
                <tr>
                    <td>
                        <input type="submit" name="login" value="Login" />
                    </td>
                    <td>
                        <input type="submit" name="register" value="Register" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
