<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Index</h1>
        <p size="4"><b>
            Ez egy olyan webes applikáció, amely segíti az ajándékozás folyamatát,
            legyen szó születésnapról, karácsonyról vagy bármilyen más egyéb ünnepről.
            A programmal, regisztrálás és belépés után, kívánság listákat készíthetünk, 
            amelyet a barátaink (barátnak felvett felhasználók) láthatnak, illetve módosításokat
            hajthatnak végre rajta, anélkül, hogy azt a lista tulajdonosa láthatná.
        </b></p>
            <table align="center">
                <tr align="center">
                    <td align = "center">
                        <!--Itt a redicertelést nem valami thymleaf-es dologgal kéne megcsinálni?-->
                        <input onclick="window.location.href='/login'" type="submit" name="login" value="Login" />
                    </td>
                    <td align = "center">
                        <input onclick="window.location.href='/register'" type="submit" name="register" value="Register" />
                    </td>
                </tr>
            </table>
        
    </body>
</html>
