<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Index</h1>
        
            <table align="center">
                <tr align="center">
                    <td align = "center">
                        <input onclick="window.location.href='/login'" type="submit" name="login" value="Login" />
                    </td>
                    <td align = "center">
                        <input onclick="window.location.href='/register'" type="submit" name="register" value="Register" />
                    </td>
                </tr>
            </table>
        
    </body>
</html>
