
<app-addwishlist-view (createList)="addList($event)">
</app-addwishlist-view>
        
    <mat-card class="wishlistview">
        <mat-card-title>
            <h3>Wishlists</h3>
        </mat-card-title>
    
        <div *ngIf="!wishlists; else loaded">
                <mat-spinner></mat-spinner>
        </div>

        <mat-card-content> 
            
            <ng-template #loaded>
                <div *ngIf="wishlists.length === 0; else atleastone">
                    <h5 class="text-center">No lists yet!</h5>
                </div>
                <ng-template #atleastone>
                    <div class="container">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover">
                              <thead>
                                <tr>
                                  <th style="width:61%" class="text-center">Title</th>
                                  <th style="width:13%" class="text-center">Edit</th>
                                  <th style="width:13%" class="text-center">Delete</th>
                                  <th style="width:13%" class="text-center">Open</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let list of wishlists">
                                  <td>{{ list.title }}</td>
                                  <td>
                                    <button class="btn btn-warning innerbtn"
                                                  (click)="openEditListDialog(list)">
                                                 <i class="fa fa-edit"></i>
                                        </button>
                                  </td>
                                  <td>
                                    <button class="btn btn-danger innerbtn"
                                                 (click)="removeList(list)">
                                                 <i class="fa fa-times"></i>
                                    </button>
                                  </td>
                                  <td>
                                        <button class="btn btn-info innerbtn"
                                            routerLink="/user/wishlists/{{list.id}}/presents"
                                            (click)="setBreadcrumbs(list.id, list.title)">
                                                     <i class="fa fa-chevron-right"></i>
                                        </button>
                                </td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                        </div>
                      </ng-template>
             </ng-template>
        </mat-card-content>

    </mat-card>