body {
    background-color: lightyellow;
}

p {
    color: red;
}

table{
    background-color: white;
    border : 4px;
    border-color: black;
}

tr.focim{
    background: red;
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

a:active {
    text-decoration: none;
    color: blue;
}