<mat-card class="searchusersview">
  <mat-card-title>
          <h3>Search users</h3>
  </mat-card-title>

<mat-card-content>
  <mat-form-field>
      <input matInput #firstname type="text" placeholder="Firstname" [(ngModel)]="firstnamevalue">
      <button mat-button *ngIf="firstnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="firstnamevalue=''">
              <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <mat-form-field>
      <input matInput #lastname type="text" placeholder="Lastname" [(ngModel)]="lastnamevalue">
      <button mat-button *ngIf="lastnamevalue" matSuffix mat-icon-button aria-label="Clear" (click)="lastnamevalue=''">
              <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <br>
  <div *ngIf="error">{{error}}</div>
  <br>
  <button mat-raised-button color="primary"
      (click)="searchUsers(false, firstname.value, lastname.value); ">
      Search
  </button>
  <button mat-raised-button color="primary" id="showall"
  (click)="searchUsers(true); firstnamevalue=''; lastnamevalue=''">Show all</button>
</mat-card-content>
</mat-card>