<mat-card class="registerview">
  <mat-card-content>
    <h3>Register</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" #usernameinput name="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #passwordinput name="password">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Firstname" #firstnameinput name="firstname">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" placeholder="Lastname" #lastnameinput name="lastname">
        </mat-form-field>
        <br>
    <mat-form-field>
        <input matInput type="email" placeholder="Email" #emailinput name="email">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" name="register"
            (click)="tryRegister(usernameinput.value, passwordinput.value, firstnameinput.value, lastnameinput.value, emailinput.value)">
      Register
    </button>
    <div *ngIf="error">{{error}}</div>
  </mat-card-content>
</mat-card>
