<app-add-comment-view (createComment)="postComment($event)"></app-add-comment-view>



<mat-card class="commentsview">
    
    <mat-card-title>
        <h3>Comments on {{breadCrumbService.presentName}}</h3>
    </mat-card-title>

    <div *ngIf="!comments; else loaded">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card-content>
        <ng-template #loaded>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/user/friends"><i class="fa fa-arrow-left" aria-hidden="true"></i> Friends</a></li>
                <li class="breadcrumb-item"><a routerLink="/user/friends/{{friendId}}/wishlists"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{breadCrumbService.friendName}}</a></li>
                <li class="breadcrumb-item"><a routerLink="/user/friends/{{friendId}}/wishlists/{{friendListId}}/presents"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{breadCrumbService.listTitle}}</a></li>                            
                <li class="breadcrumb-item active">{{breadCrumbService.presentName}}</li>
             </ol>

            <div *ngIf="comments.length === 0; else atleastone">
                <h5 class="text-center">No comments yet!</h5>
            </div>

            <ng-template #atleastone>
            <div class="container">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width:12%" class="text-center">By</th>
                          <th style="width:12%" class="text-center">Date</th>
                          <th style="width:66%" class="text-center">Text</th>
                          <th *ngIf="authService.isUserAdmin()" style="width:10%" class="text-center">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let comment of comments | paginate: { itemsPerPage: 5, currentPage: p }">
                          <td>{{comment.author.firstname}} {{comment.author.lastname}}</td>
                          <td>
                            {{convertToDateString(comment)}}
                          </td>
                          <td>
                            {{comment.text}}
                          </td>
                          <td *ngIf="authService.isUserAdmin()">
                              <button
                                  class="btn btn-danger innerbtn"
                                  mwlConfirmationPopover
                                  title="Confirmation"
                                  cancelButtonType="btn btn-danger"
                                  confirmButtonType="btn btn-info"
                                  message="Delete list: {{list.title}}?"
                                  placement="left"
                                  (confirm)="removeComment(comment)">
                                  <i class="fa fa-times"></i>
                              </button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
                <pagination-controls (pageChange)="p =$event"></pagination-controls>      
            </ng-template>
          </ng-template>
    </mat-card-content>

</mat-card>