<mat-card class="commentsview">

    <div *ngIf="!present; else loaded">
        <mat-spinner></mat-spinner>
    </div>
    
    <mat-card-title>
        <ng-template #loaded>
        <h3>Comments on {{present.name}}</h3>
        </ng-template>
    </mat-card-title>

    <mat-card-content>
            <div class="container">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width:15%" class="text-center">By</th>
                          <th style="width:15%" class="text-center">Date</th>
                          <th style="width:70%" class="text-center">Text</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let comment of comments | paginate: { itemsPerPage: 5, currentPage: p }">
                          <td>{{ comment.author.firstname }}</td>
                          <td>
                            {{comment.timestamp}}
                          </td>
                          <td>
                            {{comment.text}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
                <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </mat-card-content>

</mat-card>