.commentsview {
    margin: 20px auto;
    width: 80%;
  }

  .wishlistview {
    margin: 20px auto;
    width: 750px;
  }

 mat-spinner {
   margin: 0 auto;
 }

.container {
  max-width: 100%; 
  display: block;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.innerbtn {
  margin:auto;
  display:block;
}

.example-full-width {
  width: 100%;
}

.postcomment{
  margin-left:80%;
}

.breadcrumb {
  background-color: white;
}