<mat-card class="card">
<div class="page-body" id="settings-page">
    <h2 class="mat-h2">Settings</h2>
    <form [formGroup]="settingsForm" novalidate>
      
      <label>Your current username is: {{adminUser.username}}</label>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" type="username">
        </mat-form-field>
      </div>
      
      <label>Your current password is: {{adminUser.password}}</label>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
      </div>

      <label>Your current Email is: {{adminUser.email}}</label>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" type="email">
          <mat-error *ngIf="email.hasError('email')">
            Not a valid <strong>email</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <label>Your current FirstName is: {{adminUser.firstname}}</label>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="FirstName" type="text">
        </mat-form-field>
      </div>

      <label>Your current LastName is: {{adminUser.lastname}}</label>
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="LastName" type="text">
        </mat-form-field>
      </div>

      <h3 class="mat-h3" matTooltip="This can only be change by an Admin!">Your current Role is: {{roleVar}}</h3>
      <button mat-raised-button color="accent" class="mat-primary" (click)="submit()" >Save</button>
      <!--<a mat-button class="mat-accent" routerLink="/register">Register</a>-->
    </form>
  </div>
</mat-card>
  