<button mat-raised-button (click)="moveBack()">Go back</button>

<app-addpresent-view (createPresent)="addPresent($event)">
</app-addpresent-view>

<mat-card class="presentsview">
    <mat-card-title>
        <h3>Presents</h3>
    </mat-card-title>

    <div *ngIf="!presents">
            <mat-spinner></mat-spinner>
    </div>

    <mat-card-content>
      <mat-list>
          <mat-list-item *ngFor="let present of presents">
            <p routerLink="/">Name: {{present.name}} Id: {{present.id}}</p>
            
            <button mat-mini-fab color="primary" class="deleteButton" (click)="removePresent(present)">
                    <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>


      </mat-list>
    </mat-card-content>

</mat-card>
