<div *ngIf="!authService.isLoggedIn()">
    <h3 class='mat-h3'>Belépni admin-admin al lehet!</h3>
        <mat-card class="left-side">
            <app-login></app-login>
          </mat-card>
          <mat-card class="right-side">
            <app-register></app-register>
          </mat-card>
    </div> 

<div>
    <h3 class='mat-h3'>Itt valami profil-oldal fog megjelenni, még nem találtam ki hogy micsoda!</h3>
    <mat-card class="left-side">
        <app-login></app-login>
    </mat-card>
</div>